.SignUp  {
    margin: 60px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

/* .SignIn input {
    display: block;
} */

@media(min-width : 600px) {
    .SignUp  {
        max-width: 500px;
    }
}