.Header {
    padding: 8px;
    text-align: center;
    background: #4CAF50;
    color: black;
    font-size: 20px;
    font-family: 'Roboto Slab', serif; position: relative;
}

.Header img {
    padding: 10px;
    height : 50px;
    width : auto;
    vertical-align: middle;
    border-style: none;
}
.titleName{
    padding: 10px;
    color: #fff;
    font-family: arial;
    font-size: 30px;
}
.logo{
    position: absolute;
    top: 13px;
}